/* Reset */

body,
html {
		height: 100%;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
}

/* 
 * Suppression des coins arrondis 
 * de bootstrap 
*/
* {
		border-radius: 0 !important;
}

.vertical-center {
	min-height: 100%;     /* Pour la compatibilité avec les navigateurs */
	min-height: 100vh; 

	display: flex;
	align-items: center;
}

/**
 * Page de présentation
 */
.presentation {
		background: url("../img/alaska.jpg") no-repeat center center fixed;
		min-height: 100%;
		background-size: cover;
}
.presentation,
.biographie,
.projet {
		position: relative;
		opacity: 0.80;
}

h1 {
		font-size: 3vw;
		font-family: 'Playfair Display', serif;
		color: white;
		text-align: right;
}

h2 {
		font-family: 'Playfair Display', serif;
		color: white;
		text-align: right;
}

/**
 * Responsive
 */
@media all and (min-height: 750px){
	.episode-summary {
		height: 50vh;
		overflow: hidden;
	}

}

@media all and (max-height: 750px){
	.episode-summary {
		height: 40vh;
		overflow: hidden;
	}
}

@media all and (max-width: 768px) {
	h1 {
		font-size: 8vw;
	}
	h2 {
		font-size: 6vw;
	}
}

@media all and (min-width: 768px) and (max-width: 1280px) {
	h2 {
		font-size: 3vw;
	}
}

@media all and (min-width: 1280px){
	h2 {
		font-size: 1.5vw;
	}
}


h2>a,h2>a:visited {
		color: white;
}

h2>a:hover  {
		color: white;
		text-decoration: underline;
}

/**
 * Biographie
 */
.biographie {
		background: url("../img/psa.jpg") no-repeat center center fixed;
		min-height: 100%;
		background-size: cover;
}


.card {
		/*height: 200px;*/
		text-align: center;
		padding-top: 20px;
		margin: auto;
}

.card-reverse {
		height: 400px;
		background-color: black;
		text-align: center;
		padding-top: 20px;
		margin: auto;
}

/**
 * Projet
 */

.projet {
		background-image: url("../img/alaska.jpg");
		min-height: 100%;
		background-size: cover;
}

/*
 * Rotations
 */
.gly-rotate-90 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.gly-rotate-180 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.gly-rotate-270 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}



/**
 * Affichage d'un épisode
 */
.episode-suite {
	background-color: #555;
}

.episode-suite a {
	color: white;
}


.episode h2 {
		text-align: left;
}

.episode-head {
		background-color: black;
		color: white;
}

.episode-box-fill {
	background-color: #EEE;
}

.episode-box {
		color: #777;
		background-color: #EEE;
		text-align: center;
		padding: 20px 20px;
		text-align: justify;
		color: black;
		min-height: 250px;
}

.episode-nav {
	color: black;
	background-color: #ccc;
}

.episode-nav a:visited,.episode-nav a{
	color: black;
}

.episode-nav a:hover {
	color: black;
	text-decoration: underline;
}



/*
 * Commentaire
 */
.comment-box {
		margin-bottom: 10px;
		background-color: white;
		padding-bottom: 10px;
}

.comment-head {
		padding-top: 5px;
		border-bottom: 1px solid black;
		font-family: 'Playfair Display', serif;
		color: black;
}

.comment-action {
		text-align: right;
}

.comment-text {
		padding-top: 10px;
}

.glyphicon-ban-circle {
		color: red;
}

.abuse {
		cursor: pointer;
}

.abuse-on {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

