<?php
/**
 * Configuration de l'application
 *
 * PHP Version 5.6
 *
 * @category App
 * @package  App\Config
 * @author   Pierre-Sylvain Augereau <ps.augereau@gmail.com>
 * @license  http://www.opensource.org/licenses/mit-license.html  MIT License
 * @link     https://blogjs.lignedemire.eu
 */
$config = [
	// Nombre de titre d'épisodes à afficher en une seule fois
	'episodeLimit' => 5,
	// Profondeur max des commentaires
	'maxDepth' => 3,
	// Serveur SMTP pour envoyer les mails
	'SMTPServer' => 'smtp.gmail.com',
	// Login du serveur SMTP
	'SMTPUsername' => 'me@gmail.com',
	// Mot de passe pour le serveur SMTP
	'SMTPPassword' => 'VerySuperSecret',
	// Adresse email pour recevoir les notifications de signalement d'abus
	'email' => 'j.forteroche@gmail.com'
];


