<?php
/**
 * Accès à la base de données
 *
 * PHP Version 5.6
 *
 * @category App
 * @package  App\Config
 * @author   Pierre-Sylvain Augereau <ps.augereau@gmail.com>
 * @license  http://www.opensource.org/licenses/mit-license.html  MIT License
 * @link     https://blogjs.lignedemire.eu
 */
$database = [
		'host' 		=> '127.0.0.1',
		'login' 	=> 'user',
		'password' 	=> 'usersecretpassword',
		'database' 	=> 'blog',
		'port'		=> 3306
];


/*
CREATE USER 'blog'@'localhost' IDENTIFIED BY 'topsecret';
GRANT ALL PRIVILEGES ON blog . * TO 'blog'@'localhost';
FLUSH PRIVILEGES;
*/

