<?php

/*
 * Accès à la base de données
 */
$database = [
		'host' 		=> '127.0.0.1',
		'login' 	=> 'user',
		'password' 	=> 'usersecretpassword',
		'database' 	=> 'blog',
		'port'		=> 3306
];


/*
CREATE USER 'blog'@'localhost' IDENTIFIED BY 'topsecret';
GRANT ALL PRIVILEGES ON blog . * TO 'blog'@'localhost';
FLUSH PRIVILEGES;
*/

